* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-box {
  padding: 10px;
}
.input-box label {
  display: block;
}
.input-box input,
select {
  font-size: 1rem;
  padding: 15px;
  width: 36rem;
  margin-top: 10px;
}
label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.message textarea {
  padding: 10px;
  font-size: 1.2rem;
  height: 6rem;
  width: 36rem;
  margin-top: 5spx;
  resize: none;
}
input:focus {
  outline: none !important;
  border: 2px solid;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}
textarea:focus {
  outline: none !important;
  border: 2px solid;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}
#submit {
  all: unset;
  color: #051937;
  cursor: pointer;

  border: 1px solid black;
  background-color: #a8eb12;
  text-align: center;
  width: 30%;
  height: 3rem;
  margin: 1rem;
}
